{% extends 'base.html' %}

{% block title %}Productos{% endblock %}

{% block content %}
<style>
  .tarjeta-producto {
    width: 100%;
    max-width: 300px;
    height: auto;
    background: #378e99;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    color: black;
    text-align: center;
    padding: 15px;
    padding-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .tarjeta-producto h5 {
    font-size: 1.5em;
    margin: 0.5em 0;
  }
  
  .tarjeta-producto p {
    font-size: 0.9em;
    text-align: left; 
    margin: 0;
    width: 100%;
  }

  .tarjeta-producto::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), #27f56c);
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .tarjeta-producto::after {
    content: '';
    position: absolute;
    background: #e7e7e7;
    inset: 5px;
    border-radius: 15px;
    z-index: 1;
  }  
  
  .tarjeta-producto * {
    position: relative;
    z-index: 2;
  }

</style>

<div class="container">
    <h2 class="text-center mb-4">Productos en la categoría {{ categoria.catalogo }}: {{ subcategoria.item_catalogo }}</h2>

    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="tarjeta-producto">
                    <h5 style="color: {% if forloop.counter|divisibleby:2 %}#06a1bd{% else %}#1fc255{% endif %};">
                        {{ producto.nombre }}
                    </h5>
                    <p>
                        <strong>Código:</strong> {{ producto.codigo_producto }}<br>
                        <strong>Formato:</strong> {{ producto.id_formato.item_catalogo }}<br>
                        <strong>Plataforma:</strong> {{ producto.id_plataforma.item_catalogo }}<br>
                        <strong>Género:</strong> {{ producto.id_genero.item_catalogo }}<br>
                        <strong>Año de lanzamiento:</strong> {{ producto.ano_lanzamiento }}<br>
                        <strong>Precio:</strong> {{ producto.precio_unitario }}$<br>
                        <strong>Stock:</strong> {{ producto.stock }}
                    </p>
                </div>
            </div>
        {% empty %}
            <div class="col-12 no-products">
                <p>No se encontraron productos en esta categoría.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}